* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
  --background-color: #f0f2f8;
  --textColor: #fff;
  --titleColor: #363f5f;
  --primaryColor: #2d4a22;
  --secondColor: #49aa26;
}

html {
  font-size: 93.75%;
}

button {
  width: 100%;
  height: 50px;
  border: none;
  background-color: var(--secondColor);
  color: var(--textColor);
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #83ff56 ;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

a {
  color: var(--secondColor);
  text-decoration: none;
}

a:hover {
  color: #83ff56;
}

.button.new {
  display: inline-block;
  margin-bottom: 0.8rem;
  
}

.container {
  width: min(90vw, 1000px);
  margin: auto;
}

h2 {
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
  color: var(--titleColor);
  font-weight: normal;
}

body {
  background-color: var(--background-color); 
}

header {
  background-color: var(--primaryColor);
  padding: 2rem 0 10rem;
  text-align: center;
}

#logo {
  color: var(--textColor);
  font-weight: 100;
  font-size: 2.5rem;
}

#balance-cards {
  margin-top: -8rem;
}

#balance-cards h2 {
  color: var(--textColor);  
  font-size: 1.5rem;
}

.card {
  background: var(--textColor);
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
}

.card h3 {
  font-weight: normal;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card p {
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 1rem;
}

.card.total {
  background-color: var(--secondColor);
  color: var(--textColor);  
}

#transations {
  width: 100%;
  display: block;
  overflow-x: auto;
}

#data-table {
  width: 100%;
  border-spacing: 0 0.5rem;
  color: #969cb3;
}

table th {
  background: var(--textColor);
  font-weight: normal;
  color: #969cd3;
  padding: 1rem 2rem;
  text-align: left;
}

table thead th {
  background-color: var(--textColor);
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  color: #969cd3;
}

table tbody tr {
  opacity: 0.7;
}

table tbody tr:hover {
  opacity: 2;
  cursor: default;
}

table tbody td {
  background-color: var(--textColor);
  padding: 1rem 2rem;
}

td.description {
  color: var(--titleColor);

}

td.income {
  color:var(--secondColor);
}

td.expense {
  color: red;
}

tr td button {
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

tr td button:hover {
  background: none;
} 

.modal-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in;
  z-index: 999;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.7);
}

.modal {
  background-color: var(--background-color);
  padding: 2.4rem;
  position: relative;
  width: 90%;
  max-width: 500px;
  border-radius: 0.25rem;
  position: relative;
  z-index: 1;
}

#form {
  max-width: 500px;
}

#form h2 {
  margin-top: 0;
}

input {
  border: none;
  border-radius: 0.2rem;
  outline: none;
  padding: 0.8rem;
  width: 100%;
  font-size: 1rem;
}

.input-group {
  margin-top: 0.8rem;
}

.input-group small {
  opacity: 0.4;
}

.input-group.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-group.actions.button,
.input-group.actions button {
  width: 50%;
}

.button.cancel {
  color: #7e848a;
  text-transform: uppercase;
}

.button.cancel:hover {
  opacity: 1;
  color: var(--secondColor);
}

footer {
  text-align: center;
  padding: 4rem 0 2rem;
  color: var(--titleColor);
  opacity: 0.6;
}

@media (min-width: 800px) {
  html {
    font-size: 130%;
  }

  #balance-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

  }
}